main{
    position: absolute;
    width: 100%;
    overflow-y: scroll;
    height: calc(100% - 125px);
}

main::-webkit-scrollbar{
    display: none;
}

button{
    margin-top: 10px;
}

#escolhas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

#error{
    display: none;
}

.escolha{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 15rem;
}

.escolha img{
    margin: 10px;
    width: 100%;
}