<div class="col-md-6 offset-md-3">
    <h2>Adicionar Produto</h2>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label>Nome do Produto</label>
            <input type="text" class="form-control" id="nomeProduto"
                [(ngModel)] = "salgado.nomeSalgado" autocomplete="off" name="nomeProduto" required>
        </div>
        <div class="form-group">
            <label>Valor</label>
            <input type="text" class="form-control" id="valor"
                [(ngModel)] = "salgado.valor" autocomplete="off" name="valo" required>
        </div>
        <div class="form-group">
            <label>Descricão</label>
            <textarea type="text" class="form-control" id="descricao"
                [(ngModel)] = "salgado.descricao" name="descricao" style="resize:none" maxlength="255" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Adicionar</button>
    </form>
</div>
