<div class="col-md-6 offset-md-3">
    <h2>Adicionar Doce</h2>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label>Nome do Produto</label>
            <input type="text" class="form-control" id="nomeProduto"
                [(ngModel)] = "doce.nomeDoce" name="nomeProduto" autocomplete="off" required>
        </div>
        <div class="form-group">
            <label>Valor</label>
            <input type="text" class="form-control" id="valor"
                [(ngModel)] = "doce.valor" name="valo" autocomplete="off" required>
        </div>
        <div class="form-group">
            <label>Descricão</label>
            <textarea type="text" class="form-control" id="descricao"
                [(ngModel)] = "doce.descricao" name="descricao" style="resize:none" maxlength="255" rows="5" required></textarea>
        </div>
        <div class="alert alert-danger justify-content-between mt-3" role="alert" id="error">
            ERRO AO CRIAR DOCE! <small>Dica: Utilize Ponto</small>
        </div>
        <button type="submit" class="btn btn-success">Adicionar</button>
    </form>
    </div>