<main>

    <div>
        <header>
            <h2>Lista de Bebidas</h2>
    <button class="btn btn-primary">
        <a routerLink="/bebida" routerLinkActive="active" class="nav-link">Adicionar</a>
    </button>
</header>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of bebidas">
            <td>{{b.nomeBebida}}</td>
            <td>{{b.valor}}</td>
        </tr>
    </tbody>
</table>
</div>
<div>
    
    <header>
        <h2>Lista de Doces</h2>
        <button class="btn btn-primary">
            <a routerLink="/doce" routerLinkActive="active" class="nav-link">Adicionar</a>
        </button>
    </header>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of doces">
                <td>{{d.nomeDoce}}</td>
                <td>{{d.valor}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    
    <header>
        <h2>Lista de Salgados</h2>
        <button class="btn btn-primary">
            <a routerLink="/salgado" routerLinkActive="active" class="nav-link">Adicionar</a>
        </button>
    </header>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of salgados">
                <td>{{s.nomeSalgado}}</td>
                <td>{{s.valor}}</td>
            </tr>
        </tbody>
    </table>
</div>

</main>