<main>

    <div>
        <header>
            <h2>Lista de Bebidas</h2>
    <button class="btn btn-primary" (click)="createBebida()">
        Adicionar
    </button>
</header>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Produto</th>
            <th>Valor</th>
            <th>Descricao</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of bebidas">
            <td style="width: 15%;">{{b.nomeBebida}}</td>
            <td style="width: 15%;">{{b.valor}}</td>
            <td style="width: 55%;">{{b.descricao}}</td>
            <td style="width: 15%;">
                <button (click)="updateBebida(b.id)" class="btn btn-info">Atualizar</button>
                <button (click)="deleteBebida(b.id)" class="btn btn-danger" style="margin-left: 10px;">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>
</div>
<div>
    
    <header>
        <h2>Lista de Doces</h2>
        <button class="btn btn-primary" (click)="createDoce()">
            Adicionar
        </button>
    </header>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Valor</th>
                <th>Descricao</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of doces">
                <td style="width: 15%;">{{d.nomeDoce}}</td>
                <td style="width: 15%;">{{d.valor}}</td>
                <td style="width: 55%;">{{d.descricao}}</td>
                <td style="width: 15%;">
                    <button (click)="updateDoce(d.id)" class="btn btn-info">Atualizar</button>
                    <button (click)="deleteDoce(d.id)" class="btn btn-danger" style="margin-left: 10px;">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    
    <header>
        <h2>Lista de Salgados</h2>
        <button class="btn btn-primary" (click)="createSalgado()">
            Adicionar
        </button>
    </header>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Valor</th>
                <th>Descricao</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of salgados">
                <td style="width: 15%;">{{s.nomeSalgado}}</td>
                <td style="width: 15%;">{{s.valor}}</td>
                <td style="width: 55%;">{{s.descricao}}</td>
                <td style="width: 15%;">
                    <button (click)="updateSalgado(s.id)" class="btn btn-info">Atualizar</button>
                    <button (click)="deleteSalgado(s.id)" class="btn btn-danger" style="margin-left: 10px;">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</main>