<div class="col-md-6 offset-md-3">
    <h2>Adicionar Bebida</h2>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label>Nome do Produto</label>
            <input type="text" class="form-control" id="nomeProduto"
                [(ngModel)] = "bebida.nomeBebida" name="nomeProduto" autocomplete="off" required>
        </div>
        <div class="form-group">
            <label>Valor</label>
            <input type="text" class="form-control" id="valor"
                [(ngModel)] = "bebida.valor" name="valo" autocomplete="off" required>
        </div>
        <div class="form-group">
            <label>Descricão</label>
            <textarea type="text" class="form-control" id="descricao"
                [(ngModel)] = "bebida.descricao" name="descricao" style="resize:none" maxlength="255" rows="5" required></textarea>
        </div>
            <h3>ERRO</h3>
            <button type="submit" class="btn btn-success">Adicionar</button>
    </form>
    </div>