<div class="col-md-6 offset-md-3">
    <h2>Atualizar Bebida</h2>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label>Nome do Produto</label>
            <input type="text" class="form-control" id="nomeProduto"
                [(ngModel)] = "bebida.nomeBebida" name="nomeProduto" required>
        </div>
        <div class="form-group">
            <label>Valor</label>
            <input type="text" class="form-control" id="valor"
                [(ngModel)] = "bebida.valor" name="valo" required>
        </div>
            <button type="submit" class="btn btn-success">Adicionar</button>
    </form>
    </div>